<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="row">
    <div class="medium-4 columns text-center">
      <h1>here</h1>
    </div>
  </div>
  <div id="root"></div>
</body>
</html>
